html, body { margin: 0; padding: 0; }

@font-face {
	font-family: 'Prociono';
	src: url("fonts/Prociono.otf") format("opentype");
}

body {
	background: url(../images/Innsbruck-redux.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: white;
	overflow: hidden;
}

#brand_bar {
	position: absolute;
	top: 40px;
	right: 50px;

	border: #3c3c3c 2px solid;
}

.brand {
	color: black;
	font-size: 2.5em;
	text-align: center;
	padding: 10px;

	width: 435px;

	background-color:rgba(255,255,255,0.9);
}

.brand a {
	color: black;
	/*text-decoration: none;*/
}

#statement_bar {
	position: absolute;
	bottom: 100px;
	
	width: 100%;
	left: 340px;		

	font-family: 'Prociono', Helvetica, Verdana, Sans-Serif;
	font-size: 1.8em;

	line-height: 40px;

}
.statement {
	float: left;
	width: 315px;
	margin-left: -340px;
	padding: 10px;

/*	background-color: rgba(255,255,255,.9);*/
  color: white;
	background-color:rgba(0,0,0,0.7);

}

#directives {
	color: #000000;
	background-color: rgba(255,255,255,.6);

	padding: 10px 20px;
	overflow: clip;

	list-style: none;
	margin: 0;
}

#directives li {
	display: none;
}