html, body { margin: 0; padding: 0; }

@font-face {
	font-family: 'Prociono';
	src: url("fonts/Prociono.otf") format("opentype");
}

body {
	background: url(../images/Innsbruck-redux.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: white;
	overflow: hidden;
	font-family: 'Prociono', Helvetica, Verdana, Sans-Serif;
}

#brand_bar {
	position: absolute;
	right: 50px;
	width: 250px;
	text-align: center;
	
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(0,0,0,.8);
	border: black 1px solid;
}

.brand {
	color: #333333;
	color: white;
	font-family: times, helvetica;
	font-size: 2.5em;
}

.brand_link { text-decoration: none; }

#content_container {
	position: absolute;
	font-family: Helvetica;
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
	border: silver 2px solid;
	padding: 20px;

	display: none;

	top: 200px;
	left: 150px;
	right: 150px;
	bottom: 200px;
	padding: 10px;
}

#content_container .close_link {
	position: absolute;
	right: 30px;
}

#content_container .content {
	height: 100%;
	display: none;
}

#content_container .header {
	padding: 2px;
	margin-bottom: 5px;
}

#content_container .info {
	position: relative;
	overflow: hidden;
	overflow-y: scroll;
	height: 90%;
	padding: 5px;
	border: silver 1px solid;
}

#content_container .content .header {

}
.slogan {
  color: white;
  font-size: 1.25em;
  margin-top: -5px;
}

#menu {
	border-top: black 2px solid;
	list-style: none;
	margin: 5px 0;
	padding: 5px 0;

}

#menu li {
	display: inline;
	padding: 5px;
}

#menu a {
	color: #CFCFCF;
}

#statement_bar {
	position: absolute;
	bottom: 100px;
	
	width: 100%;
	left: 340px;		

	font-size: 1.8em;

	line-height: 40px;

}
.statement {
	float: left;
	width: 315px;
	margin-left: -340px;
	padding: 10px;

 	color: white;
	background-color:rgba(0,0,0,0.85);
}

#directives {
	color: #000000;
	background-color: rgba(255,255,255,.6);

	padding: 10px 20px;
	overflow: clip;

	list-style: none;
	margin: 0;
}

#directives li {
	display: none;
}